body{
    font: normal 15pt arial;
    background-color: rgb(226, 133, 71);
}
header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.973);
    border-radius: 8px;
    width: 500px;
    margin: auto;
}
section{
    background-color: white;
    width: 400px;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
    text-align: center;
}
input{
    font: normal 12pt arial;
    background-color: white;
    border-color: rgba(139, 135, 135, 0.486);
    border-radius: 5px;
    text-align: center;
}
input#num{
    border-color: rgba(139, 135, 135, 0.486);
    border-radius: 5px;
    text-align: center;
}


