body{
    background-color: rgb(243, 243, 93);
    font: normal 15pt calibri;
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);
    padding: 2px;
    position: relative;
    top: 19px;
}
p#sel{
    position: relative;
    left: 15px;
}
input#but{
    position: relative;
    left: 30px;
    top: -10px;
    background-color: white;
    border-color: rgba(243, 243, 93, 0.336);
    border-radius: 5px;
}
header{
    font: normal 25pt calibri;
    text-align: center;
    color: rgb(243, 243, 93);
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.089);
    width: 550px;
    margin: auto;

}
input#num{
    border-color: rgba(243, 243, 93, 0.336);
    border-radius: 5px;
}
div#result{
    position: relative;
    top: -20px;
    left: 30px;
    
}
input#ad{
    background-color: white;
    border-color: rgba(243, 243, 93, 0.336);
    border-radius: 5px;
}
p#meio{
    position: relative;
    left: 30px;
}
input#limp{
    position:relative;
    left: 50px;
    top: -10px;
    background-color: white;
    border-color: rgba(253, 46, 46, 0.767);
    border-radius: 5px;
}

