body{
    background-color: rgb(243, 243, 93);
    font: normal 15pt calibri;
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);
    padding: 2px;
    position: relative;
    top: 19px;
}
p#sel{
    position: relative;
    left: 15px;
}
input#but{
    position: relative;
    left: 30px;
    top: -10px;
    background-color: white;
    border-color: rgba(243, 243, 93, 0.336);
    border-radius: 5px;
}
header{
    font: normal 25pt calibri;
    text-align: center;
    color: rgb(243, 243, 93);
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.089);
    width: 550px;
    margin: auto;

}
input#num{
    border-color: rgba(243, 243, 93, 0.336);
    border-radius: 5px;
}
div#result{
    position: relative;
    top: -20px;
    left: 30px;
    
}
input#ad{
    background-color: white;
    border-color: rgba(243, 243, 93, 0.336);
    border-radius: 5px;
}
p#meio{
    position: relative;
    left: 30px;
}
input#limp{
    position:relative;
    left: 50px;
    top: -10px;
    background-color: white;
    border: 1px solid rgb(218, 74, 74);
    border-radius: 5px;
}
select#sele{
    width: 180px;
    border-radius: 5px;
    border-color: rgba(243, 243, 93, 0.336);
}
input#limp:hover{
    background-color: rgb(218, 74, 74);
    transition-duration: 0.5s;
}
input#but:hover, input#ad:hover{
    background-color: rgba(235, 235, 59, 0.493);
    transition-duration: 0.5s;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
