body{
    background-color: rgba(220, 202, 236, 0.842);
    font: normal 25pt calibri;
}
div#cima{
    background-color: white;
    height: 5px;
    border-radius: 5px;
}
header{
    background-color: rgb(187, 139, 236);
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
    width: 500px;
    margin: auto;
}
div#baixo{
    background-color: white;
    height: 5px;
    border-radius: 5px;
}
section{
    background-color: rgb(244, 234, 248);
    position: relative;
    top: 25px;
    width: 450px;
    margin: auto;
    height: 310px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);  
}
p#text{
    position: relative;
    left: 50px;
    top: 15px;
}
p#text2{
    position: relative;
    top: -110px;
    left: 50px;
}
p#inpu{
    position: relative;
    left: 175px;
    top: -102px;
}
input#inp1{
    border-color: rgb(230, 213, 247);
    border-radius: 5px;
}
input#inp2{
    border-color: rgb(230, 213, 247);
    border-radius: 5px;
}
p#result1{
    position: relative;
    top: -223px;
    text-align: center;
    background-color: white;
    width: 250px;
    left: 175px;
    height: 35px;
    font: normal 18pt calibri;
    border-radius: 10px;
}
p#result2{
    position: relative;
    top: -235px;
    text-align: center;
    background-color: white;
    width: 250px;
    left: 175px;
    height: 35px;
    font: normal 18pt calibri;
    border-radius: 10px;
}
div#meio{
    position: relative;
    top: -390px;
    left: 58px;
    font: normal 22pt calibri;
    background-color: rgb(187, 139, 236);
    width: 340.9px;
    border-radius: 30px;
    height: 35px;
    text-align: center;
}
input#butt{
    position: relative;
    top: -135px;
    left: 180px;
    width: 100px;
    height: 25px;
    background-color: white;
    border-color: rgb(230, 213, 247);
    border-radius: 5px;
}
input#limp{
    position: relative;
    top: -135px;
    left: 200px;
    background-color: white;
    border-color: rgb(230, 213, 247);
    border-radius: 5px;
}