@charset "UTF-8";
section#rotacione{
    display: none;
    text-align: center;
    font-size: 1.5em;
}
section#body{
    margin-top: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
}
span.black{
    display: inline-flex;
    z-index: 901;
    margin: 6.5px;
    width: 50px;
    height: 140px;
    background-color: rgb(31, 31, 31);
    margin: 0px -25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.308);
    border-bottom: 5px solid rgb(80, 79, 79);
}
span.black:hover{
    background-color: rgb(41, 41, 41);
    transition: .2s;
    cursor: pointer;
}

span.black:active{
    height: 145px;
    border-bottom: 4px solid rgb(85, 84, 84);
    box-shadow: inset 0px 0px 10px rgba(194, 194, 194, 0.144);
}

span.white{
    display: inline-flex;
    justify-content: stretch;
    z-index: 90;
    background-color: rgb(226, 226, 226);
    border: 1px solid rgb(190, 190, 190);
    margin: 0px;
    width: 50px;
    height: 200px;
    margin: 0px 0px;
    border-bottom: 5px solid rgba(128, 128, 128, 0.685);
}
span.white:hover{
    background-color: rgb(245, 245, 245);
    transition: .3s;
    cursor: pointer;
}

span.white:active{
    height: 207px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.233);
    border-bottom: 4px solid gray;
}

section#voltar{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}
section#voltar > a{
    text-decoration: none;
    color: black;
}
section#voltar > a:hover{
    text-decoration: underline;
}
.tocar{
    transform: scaleY(1.02);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.123);
    border-bottom: 1px solid gray;
    transition: transform .2s;
}
footer{
    position: absolute;
}
@media screen and (max-width: 668px) {
    section#body{
        margin-top: none;
    }
    span.black{
        width: 40px;
        margin: 0px -20px;    }
    span.white{
        width: 40px;
    }
}
@media screen and (max-width: 490px) {
    section#rotacione{
        display: block;
    }
    section#body{
        display: none;
        margin-top: -10px;
    }
}
@media screen and (orientation: landscape) and (max-width: 800px){
    body{
        position: relative;
        overflow: hidden;
    }
    header{
        display: none;
    }
    nav{
        display: none;
    }
    main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
    }
    section#voltar{
        display: block;
    }
    footer{
        display: none;
    }
}
