@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: rgb(235, 235, 235);
}
header{
    height: 70px;
}
header > section{
    position: fixed;
    width: 100%;
    background-color: #F7E018;
    height: 70px;
    z-index: 1000;
}
header div#img img{
    width: 55px;
}
header div#img{
    border-radius: 20px;
    overflow: hidden;
}
header div#img:active{
    transform: translate(-4px, -4px);
    transition: transform 0.7s;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.233);
}
button#but{
    background-color: transparent;
    border: none;
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button#but:hover{
    background-color: #f8f8f8;
    transition-duration: 0.3s;
}
button#but:active{
    background-color: #fde400;
}
button#fechar{
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(255, 67, 67);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1em;
}
button#fechar:hover{
    background-color: rgb(245, 112, 112);
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.295);
    transition: transform .2s;
}
button#fechar:active{
    background-color: rgb(245, 79, 79);
}
header div#img{
    text-align: center;
    display: block;
    position: relative;
    width: 60px;
    margin: auto;
    bottom: 57px;
}
nav{
    position: fixed;
    background-color: rgb(190, 190, 190);
    width: 0px;
    height: 100%;
    overflow: auto;
    transition: all 0.3s;
    color: black;
    z-index: 1000;
}
nav hr{
    width: 260px;
    margin-left: 15px;
}
nav h2{
    padding: 30px;
    padding-bottom: 0px;
    font-size: 1.3em;
    font-weight: 100;
}
nav div{
    padding: 30px;
    padding-bottom: 0px;
}
nav p{
    padding: 5px;
    border-radius: 10px;
    padding-left: 20px;
    border: 1px solid black;
    margin-bottom: 5px;
}
nav p:hover{
    background-color: #F7E018;
    transform: translate(-2px, -2px);
    transition: transform 0.2s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.205);
    border-color: white;
}
nav p:active{
    background-color: #f7e75e;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

main{
    margin: auto;
    max-width: 700px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: auto;
}
h2{
    margin-bottom: 20px;
    font-size: 1.7em;
}
.h2res{
    margin-top: 30px;
}
h3{
    margin-top: 10px;
}
.principal{
    text-align: center;
}
fieldset{
    padding: 10px;
    padding-top: 14px;
    border-radius: 8px;
    margin-bottom: 10px;
}
section.codigo{
    margin: 30px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(55, 55, 71);
    color: white;
    padding: 30px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 3px rgb(22, 22, 34);
    border-radius: 10px;
    max-width: 600px;
    overflow: auto;
}
section.codigo > h2{
    font-size: 1.3em;
}
section.resultado{
    height: 35px;
    margin-top: 30px;
}
main p{
    text-indent: 15px;
    font-size: 1.5em;
    border-radius: 20px;
    margin-bottom: 8px;
}
main p:hover{
    background-image: linear-gradient(to right, #F7E018, transparent);
    transform: translate(-3px, -3px);
    transition: transform 0.3s;
}
main a{
    text-decoration: none;
    color: black;
}
section.iframe{
    text-align: center;
}
iframe{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #F7E018;
}
footer{
    text-align: center;
    background-color: #F7E018;
    padding: 10px;
    bottom: 0;
    left: 0;
}
@media screen and (max-width: 400px) {
    iframe{
        width: 250px;
    }
}
@media screen and (min-width: 401px) and (max-width:568px) {
    main{
        min-height: 100vh;
    }
    button#but{
        top: 18px;
    }
    button#but img{
        width: 35px;
    }
    div#img{
        top: -44px;
    }
    iframe{
        width: 390px;
    }
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
    main{
        width: 80vw
    }
    iframe{
        width: 470px;
    }
}
